body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.heading {
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    #2563EB,   /* Blue */
    #FACC15,   /* Yellow */
    #14B8A6,   /* Teal */
    #FB923C,   /* Orange */
    #A855F7    /* Purple */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: block;
  font-family: "Funnel Display", sans-serif;
}

.container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border-radius: 24px;
  padding: 12px;
  margin: 0;
  background-color: #1E293B;
}

input{
  color: #f9fafb;
  background-color: #1E293B;
  padding:12px;
  width: 390px;
}

input::placeholder{
  width: 100%;
}

input:focus{
  outline: none;
  
}

button{
  padding: 12px;
  border-radius: 12px;
  width: 110px;
}